@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
a{
    text-decoration: none;
    color: #1D1D1D;
}
/* div,section,nav{
    border: 3px solid red;
} */
   
nav,.Overview,.header,.cards,.place,.QuestionContainer,.reviews,.form,.footer{
   width: 82%;
   margin: auto;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Cardo", serif;
    line-height: 1;
}

body{
    background-color: #e9e7e7;
}
/* navbar */
nav{
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ContactBtn{
    padding: .4rem 1.5rem;
    font-size: .75rem;
    font-weight:900;
    border: 2px solid black;
    border-radius: 4px;
}
.links a{
    padding-right: 4rem;
    text-decoration: none;
    font-size:.85rem ;
    color: black;
    font-weight: 400;
}
.links a:nth-child(1){
    font-weight: 800;
}
/* Overview Section */
.Overview{
    padding-top: 3.5rem;
    display: flex;
    justify-content: space-between;
}
.imageContainer{
   
    width: 53%;
    height: 21.125rem;
}
.Overview .imageContainer img{
     width: 100%;
     height: 100%;
}
.Overview .heading h3{
    font-size: 4.5rem;
    font-weight: 900;
}
.Overview .details .content p{
    font-size: .93rem;
}
.Overview .details .content{
    padding-top: .75rem;
    padding-bottom: 1.5rem;
}
.OverviewContainer{
    position: relative;
    padding-bottom: 8rem;
}
.ticketBtn{
    border: none;
    background-color: black;
    color: white;
    padding: .5rem 2rem;
    font-weight: 900;
}
.scribble{
    position: absolute;
}
.scribble_lightest{
    top: 0;
  right: 0;
  height: 36rem;
    width: 12rem 
}
.scribble_lightest_2{
    bottom: 0;
    height: 24rem;
    width: 33rem;
    z-index: -1;
}
.scribble_dark_7{
    bottom: 0;
    right: 0;
    height: 20rem;

}
.scribble_light{
    width: 19rem;
    bottom: 0;
    left: 0;
    height: 4.5rem;
}

.scribble_light_3{
    top: 13%;
    left: 0;
    height: 8rem;
    width: 26rem;
} 
.scribble_light_2{
    right: 0;
    bottom: 2rem;
    width: 27rem 
}
.scribble_dark{
    bottom: 30px;
    left: 0;
    width: 16rem 
}
.scribble_dark_2{
    top: 0;
    left: 0;
    height: 7rem;
}
.scribble_dark_3{
    bottom: 3rem;
    right: 0;
    height: 3.5rem;
}
.scribble_dark_4{
    bottom: 7rem;
    left: 0;
}
.scribble_dark_6{
     left: 0;
     top: 0;
     height: 34rem;
}
.scribble_dark_5{
    right: 0;
    bottom: 0;
    width: 4rem;
    height: 19rem
}
/* travel blog part */
.travelBlog{
    position: relative;
    background-color: #1D1D1D;
    color: white;
    padding: 2rem;

}
.travelBlog .header{
    color: white;
    text-align: center;
}
.travelBlog .header .heading {
    font-size: 2.5rem;
}
.travelBlog .header  .details {
    font-size: .7rem;
    padding-top: .5rem;
    padding-bottom: 1.5rem;
    font-weight: 400;
}
.travelBtn{
   color: white;
   background:none;
   border: 2px solid white;
   border-radius: 4px;
   padding: .5rem 2.5rem;
   font-weight: 800;
}
/* Travel Blog cards */
.travelcards{
    position: relative;
    padding-bottom: 7.75rem
}
.travelcards .card{
    width: 29%;

}
.cards{
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
}
.travelcards .card img{
    width: 100%;
    height: 220px;
}

.card .content .heading{
    font-size: 1.6rem;
    letter-spacing: -1px;
}
.card .content .details{
    text-align:left;
    font-size: .75rem;
    font-weight: 490;
    padding-top: .75rem;
}
.horizontalLine{
    height: 2.5px;
    width: 14%;
    background-color: #232323;
     margin:1rem 0;
}
/* places */
.placeContainer .headerContainer{
  position: relative;
  text-align: center;

}
.placeContainer .headerContainer .header{
    padding-top: 6rem;
    padding-bottom: 13.5rem;
    position: relative;
}

.airplace_icon{
    width: 3rem;
}
.placeContainer .headerContainer .header .heading{
    font-size: 3.5rem;
    padding-top: 1rem;
}
.placeContainer .headerContainer .header p{
    padding-top: 1rem;
    font-weight: 700;
    font-size: .95rem;
}
.italic{
    border-bottom: 2px solid #000;
}
.place{
    padding-bottom: 2.5rem;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.place .big{
    width: 45%;
    height: 34rem;


}
.place .content{
    width: 50%;
    
}
.place .contentContainer{
    padding-top: 2rem;
    display: flex;
}
.place .content .Heading{  
    width: 35%;
}
.place .content .Heading h3{
    line-height: 1.5;
    font-size: 1.5rem;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.paraSpace{
    padding-bottom: 1.5rem;
}
.place .content .details{
    font-size: .9rem;
    width: 62%;
    text-align: justify;
}
/* Arrow */
.arrowContainer{
    position: absolute;
    bottom: 6rem;
    right: 0;
}
.arrow{
    position: relative;
    width: 140px;
    background: black;
    height: 2px;
  }
  .slash{
    width: 35px;
     background: black;
    height: 2px;
    position:absolute;
    right: 0;
    transform-origin: bottom right;
  }
  .slashOne{
    transform: rotate(40deg);
  }
  .slashTwo{
    transform: rotate(-80deg);
  }
  /* View */
  .view{
    padding-left: 7rem;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color:#1D1D1D;
    display: flex;
    justify-content: space-between;

  }
 .view .content{
    width: 35%;
    color:#e9e7e7;
 }
 .view .content .heading{
    font-size: 3rem;
    line-height: 1;
    padding-bottom: 2.5rem;
 }
 .view .img{
    width: 59%;
 }
 .view .content .details h5{
    font-size: 1.2rem;
    padding-bottom: .75rem;
    padding-top: 2rem;
 }
 .view .content .details p{
    font-size: .9rem;
    font-weight: 300;
 }
 /* Question */
 .QuestionContainer{
    padding: 6rem 0;
    display: flex;
    justify-content: space-between;
 }

 .QuestionContainer img{
    height: 25rem;
    width: 23rem;
 }
 .QuestionContainer .content .heading{
    font-size: 3.5rem;
 }
 .ques{
    font-size: .85rem;
 }
 .Questions{
    padding-top: 4.45rem;
 }
 .question{
    padding: .85rem 0;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .question:nth-child(1){
     border-top: 2px solid black;
 }
 .plus{
    padding-right: 1rem;
 }
 /* Review */
 .reviews .heading{
    font-size: 2.5rem;
    text-align: center;
    padding: 2rem 0;
 }
 .reviewContainer{
    padding-bottom: 6rem;
    position: relative;
 }
 .reviewCardContainer{
    display: flex;
    justify-content: space-between;
 }
.reviewCard{
    width: 32%;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    padding:2rem .5rem;
}
.reviewCard h5{
    font-size: 1.2rem;
    padding-top: 1.5rem;
    padding-bottom: .75rem;

}
.reviewCard .content p{
    font-size: .85rem;
}

/* Form  */
.form input{
    padding: 0.35rem 0;
    padding-right: 6rem;
    border-radius: 5px;
    border: 2px solid black;
    background: none;
    padding-left: 10px;
    margin: .75rem 0;
    width: 100%;
}
.form form{
    width: 30%;
}
.formContainer{
    padding-bottom: 6rem;
  
}
.form{
    display: flex;
    justify-content: space-between;
}
.form textarea{
    background: none;
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 5px;
    width: 100%;
    border: 2px solid black;
}
.form img{
    height: 27.56rem;
    width: 63%;
}
.form input::placeholder,textarea::placeholder{
    font-size: .75rem;
}
.form h4{
    font-size: 3rem;
    padding-bottom: 1rem;
}
.submitBtn{
    width: 100%;
    background-color: #1D1D1D;
    color: white;
    border: none;
    border-radius: 3px;
    padding: .5rem 0;
    margin-top: 2rem;
}
/* Footer */
.footerContainer{
    background-color: #C5C5C5;
    position: relative;
}
.footerContainer .heading{
   font-size: 2rem;
}
.footerContent{
    display: flex;
    padding-top: 4rem;
    justify-content: space-between;
}
.footer .quickLinks{
    display: flex;
    gap: 4rem;
}
.footer  h4{
    padding-bottom: 1.5rem;
}

.quickLinks h4{
    font-weight: 900;
}
.footer p{
   color: #1D1D1D;
   padding-top: 3rem;
   padding-left: 1rem;
   padding-bottom: 3rem;
   text-align: center;
}
.link1,.link2,.link3,.link4{
    display: flex;
    flex-direction: column;

}